SECRET_KEY=12345  # Установите секретный ключ

DEBUG = True # Установите режим DEBUG

NAME= .. # Имя БД
USER= .. # Пользователь БД
PASSWORD= .. # Пароль для БД
HOST= .. # Хост (localhost)
PORT= .. # Порт для подключения к базе данных

EMAIL_HOST_USER= .. # Почта приложения
EMAIL_HOST_PASSWORD= .. # Пароль из приложения