{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Создать новый тег</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.name }}
            {% if form.name.errors %}
                <div class="invalid-feedback">
                    {{ form.name.errors }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn" style="background-color: indigo; color: white;">Создать тег</button>
        <a href="#" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}