{% extends "base_login.html" %}

{% block title %}Пароль восстановлен{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center justify-content-center"
      style="min-height: 80vh;">
    <div class="text-center">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2" style="color: indigo;">Пароль успешно изменен</h1>
        </div>
        <p class="mb-4">Поздравляем! Вы успешно изменили пароль своего аккаунта.</p>
        <a href="{% url 'users:login' %}">
            <button class="submit"
                    style="background-color: indigo; color: white; padding: 10px 20px; border: none; border-radius: 4px;">
                Войти
            </button>

        </a>
    </div>
</main>
{% endblock %}